.wrapper {
    padding-left: 68px;
    padding-top: 16px;
}

.video-wrapper {
    position: relative;
    width: var(--width-video);
    height: var(--height-video);
    cursor: pointer;
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

// play button
.play-controller {
    position: absolute;
    bottom: 30px;
    left: 12px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    transition: opacity 0.3s;
    color: var(--white-color);
    cursor: pointer;
}

// Volume
.volume-controller {
    position: absolute;
    bottom: 30px;
    right: 12px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    transition: opacity 0.3s;
    color: var(--white-color);
    cursor: pointer;
}

.adjust-volume {
    position: absolute;
    bottom: 10%;
    right: 6px;
    transform: translateX(-50%);
    width: 24px;
    height: 64px;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    cursor: default;
}
.wrapper-volume {
    width: 2px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.34);
    position: absolute;
    left: 11px;
    top: 8px;
    bottom: 8px;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
}
.volume-bar {
    align-self: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.volume-slider {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0%;
    cursor: pointer;
}

//Option

.option-controller {
    position: absolute;
    top: 0px;
    right: 12px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 2.4rem;
    transition: opacity 0.3s;
    color: var(--white-color);
    cursor: pointer;
}

// tippy
.video-view {
    padding: 2px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    .report {
        margin-left: 0;
    }
}
.not-interested {
    justify-content: flex-start;
    min-width: 200px;
}
.report {
    justify-content: flex-start;
    min-width: 200px;
}

.not-interested,
.report {
    font-size: 1.4rem;
    color: rgb(22, 24, 35);
    font-weight: 600;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// seek bar
.seek-controller {
    position: absolute;
    bottom: 12px;
    left: 12px;
    transition: opacity 0.3s;
    width: calc(100% - 12px);
    display: flex;
    align-items: center;
    cursor: default;
}

.control-seek-bar {
    flex: 1;
    padding: 4px;
    cursor: pointer;
}

.wrapper-seek-bar {
    position: relative;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.34);
}

.seek-bar {
    height: 100%;
    background-color: var(--white-color);
    transition: width 0.1s linear;
}

.slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    background-color: var(--white-color);
    border-radius: 100%;
    transition: left 0.1s linear;
    animation: slider_appear 0.1s linear;
}

.time {
    margin: 0 20px 0 16px;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 100;
}

.real-time {
    width: 60px;
    font-size: 1rem;
    line-height: 16px;
    color: rgb(255, 255, 255);
    text-align: right;
    display: inline-block;
    font-variant-numeric: tabular-nums;
}

@keyframes slider_appear {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

.volume-big {
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgba(84, 84, 84, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
        opacity: 0.7;
    }
}

.tippy-big {
    right: 5px;
    transform: translateX(-60%);
    top: -80px;
}
