.search-result {
    width: 362px;
}

.search-title {
    font-size: 1.4rem;
    color: #50525a;
    padding: 4px 6px;
}

.search {
    position: relative;
    display: flex;
    width: 362px;
    height: var(--search-height);
    background-color: rgb(241 241 242);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    padding: 0px 0px 0px 16px;
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        padding-right: 40px;
        border: none;
        background-color: transparent;
        outline: none;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: black;
        background-color: rgb(230, 230, 230);
    }

    input:not(:placeholder-shown) ~ .search-btn-big {
        color: var(--white-color);
        background-color: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-residual);
        right: var(--search-btn-width);
        height: calc(var(--search-height) - 2 * var(--search-top-residual));
        width: 1px;
        background-color: rgb(215, 215, 215);
    }

    &:focus-within {
        border-color: #c5c6c9;
    }
}

.wrapper-search {
    width: calc(362px);
    max-width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.75);

    &::after {
        background-color: rgba(255, 255, 255, 0.6);
    }

    .wrapper-input {
        background-color: transparent;
        color: var(--white-color);
    }

    .search-btn-big {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.75);
        background-color: transparent;
        &:hover {
            background-color: rgba(22, 24, 35, 0.1);
        }
    }

    .clear,
    .loading {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7ab;
    cursor: pointer;
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }
}

//Animation
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.loading {
    animation: spinner 4s linear infinite;
}
// tippy search
.wrapper-tippy {
    background: black;
}
