.wrapper {
    width: 100%;
}
.birth-date {
    padding-top: 0px;
}
.title {
    display: block;
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgb(22, 24, 35);
}
.date-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.wrapper-infor {
    background: rgba(22, 24, 35, 0.06);
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    + .wrapper-infor {
        margin-left: 8px;
    }
}
.inner-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 44px;
    padding: 0px 12px;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.active {
    color: rgba(22, 24, 35);
}

.date-option {
    position: absolute;
    overflow: auto;
    display: none;
    top: 50px;
    left: 0px;
    right: 0px;
    width: 120px;
    max-height: 320px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    z-index: 12;
    transition: display 0.3s ease 0s;
}
.date-option::-webkit-scrollbar {
    width: 4px;
}

.option-item {
    padding: 8px;
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.icon-down {
    transform: rotateZ(0deg);
    transition: all 0.3s ease 0s;
}

.icon-up {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.policy {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    line-height: 20px;
    margin-bottom: 16px;
}
