.preview {
    padding: 18px;
    width: 280px;
}
.header-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.follow-btn {
    line-height: normal;
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.avatarPreview {
    width: 48px;
    height: 48px;
}
.body-preview {
    padding-bottom: 10px;
}

.user-name-preview {
    padding-bottom: 4px;
}

.followers {
    margin-right: 12px;
}
.amount {
    padding-right: 4px;
}
.title {
    color: rgba(22, 24, 35, 0.7490196078);
    font-weight: 500;
    font-size: 1.6rem;
}

.check-icon {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
