.wrapper {
    padding: 16px 0;
    border-top: 1px solid #f1f1f2;
}
.label {
    font-size: 1.4rem;
    font-weight: 600;
    color: #161823bf;
    margin-bottom: 8px;
}
.account-item {
    display: flex;
    padding: 8px 8px 8px 0;
    cursor: pointer;
    transition: backgroundEase 500ms ease-in-out 0s;
    border-radius: 4px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}
.infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-name {
    font-size: 1.6rem;
    color: #161823;
    font-weight: 700;
    line-height: 1;
}
.check-icon {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.see-more {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
}

// Preview

.preview {
    padding: 18px;
    width: 290px;
}
.header-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.follow-btn {
    line-height: normal;
}

.avatarPreview {
    width: 48px;
    height: 48px;
}
.body-preview {
    padding-bottom: 10px;
}

.user-name-preview {
    padding-bottom: 4px;
}

.followers {
    margin-right: 12px;
}
.amount {
    padding-right: 4px;
}
.title {
    color: rgba(22, 24, 35, 0.7490196078);
    font-weight: 500;
    font-size: 1.6rem;
}
