.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 60px;
    padding: 0px 24px;
    width: var(--default-layout-with, 1150px);
    max-width: 100%;
    display: flex;
}

.side-bar {
    width: 300px;
}

.content {
    flex: 1;
    position: relative;
    width: 100%;
    min-width: 420px;
}

.back-first-page {
    position: fixed;
    bottom: 16px;
    right: 24px;
    animation: DownToUp 0.5s linear;
}

.hidden-first-page {
    animation: UpToDown 0.5s linear;
    transform: translateY(150%);
}

.back-btn {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    min-width: 35px;
}

.back-icon {
    line-height: 1px;
}

@keyframes DownToUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes UpToDown {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(150%);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10001;
    height: 100%;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
