.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 0px 24px;
    width: var(--default-layout-with, 1150px);
    display: flex;
}

.content {
    flex: 1;
}
